<a href="https://colab.research.google.com/github/samleonnn/Software_Engineering_Samuel/blob/main/SE_Week3_Catatan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Wednesday, September 29th, 2021
#List []
#Dictionary {}
#Tuple ()
#Set {}
#Looping
#Function

In [2]:
#List --> Bisa berbagai macam data type dalam satu list --> zero index base
listExample = ["Leon", 29, 29.0, ["samuel", "Leon"], {}, (), True]
print(listExample[0]) #Leon
print(listExample[1]) #29
print(listExample[-1])  #Paling akhir, True

Leon
29
True

In [3]:
#Dictionary --> Ada value dan ada key, key:value, yang dipanggil key
dictExample = {2:"Leon", "dua belas":29, False:29.0, 2.1:["samuel", "Leon"], "Dict":{}, 123:(), "Boolean":True}
print(dictExample[2]) #Leon
print(dictExample["dua belas"]) #29
print(dictExample[False]) #29.0

Leon
29
29.0

In [4]:
#Cara mengetahui key dari value dictionary, method: .keys()
dictExample.keys()

dict_keys([2, 'dua belas', False, 2.1, 'Dict', 123, 'Boolean'])

In [5]:
#Cara menambah value di dictionary, method: dictName[key] = value
dictExample["halohalo"] = 100
print(dictExample)

{2: 'Leon', 'dua belas': 29, False: 29.0, 2.1: ['samuel', 'Leon'], 'Dict': {}, 123: (), 'Boolean': True, 'halohalo': 100}

In [6]:
#Cara menghapus value di dictionary berdasarkan key, method: .pop(key)
dictExample.pop(False)
print(dictExample)

{2: 'Leon', 'dua belas': 29, 2.1: ['samuel', 'Leon'], 'Dict': {}, 123: (), 'Boolean': True, 'halohalo': 100}

In [7]:
#Cara lain menghapus value di dictionary berdasarkan key, method: del dictName[key]
del dictExample[2]
print(dictExample)

#Kurang bisa menghapus value langsung, yang paling mungkin me-replace value dengan None

{'dua belas': 29, 2.1: ['samuel', 'Leon'], 'Dict': {}, 123: (), 'Boolean': True, 'halohalo': 100}

In [8]:
list1 = [3, 1, 2, 4, 5 ,6]

In [9]:
#Cara menambah value di paling belakang dalam list, method: .append(value)
list1.append("Samuel")
list1

[3, 1, 2, 4, 5, 6, 'Samuel']

In [10]:
#Cara menambah value di index tertentu dalam list, method: .insert(index, value)
list1.insert(3, "Leon")
list1

[3, 1, 2, 'Leon', 4, 5, 6, 'Samuel']

In [11]:
listAngka = [1, 4, 7, 9 ,8]

#Sorting di list dari kecil ke besar, method: .sort()
listAngka.sort()
listAngka

[1, 4, 7, 8, 9]

In [12]:
#Sorting di list dari besar ke kecil, method: .sort(reverse = True)
listAngka.sort(reverse = True)
listAngka

[9, 8, 7, 4, 1]

In [13]:
#Menghapus value paling akhir di list, method: .pop()
listAngka.pop()
listAngka

[9, 8, 7, 4]

In [14]:
#Menghapus value yang kita mau, method: .remove(value)
listAngka.remove(8)
listAngka

[9, 7, 4]

In [15]:
#Menghapus value yang kita mau dari index, method: .remove(array[index])
listAngka.remove(listAngka[1])
listAngka

[9, 4]

In [16]:
#Set --> Tidak ada double value di set, set tidak bisa dipanggil
numList = [9, 7, 4, 1, 7]
numSet = set(numList) #Convert list to set
numSet

{1, 4, 7, 9}

In [17]:
#Tuple --> Value tidak bisa diubah kecuali saat deklarasi
numTuple = (1, 3, 5, 7, 9, 7)
numTuple[3]

7

In [18]:
#Looping
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
#Looping for menggunakan range, range(init, end before, step)
for j in range(0, 22, 3):
  print(j)

0
3
6
9
12
15
18
21

In [20]:
#Decrement di looping for
for k in range(25, 0, -1):
  print(k)

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [21]:
#While loop
a = 5
while a < 20:
  print(a, "lebih kecil dari 20")
  a += 1

5 lebih kecil dari 20
6 lebih kecil dari 20
7 lebih kecil dari 20
8 lebih kecil dari 20
9 lebih kecil dari 20
10 lebih kecil dari 20
11 lebih kecil dari 20
12 lebih kecil dari 20
13 lebih kecil dari 20
14 lebih kecil dari 20
15 lebih kecil dari 20
16 lebih kecil dari 20
17 lebih kecil dari 20
18 lebih kecil dari 20
19 lebih kecil dari 20

In [22]:
#Program umur user yang diinput tidak boleh dibawah 17, kalo dibawah bakal diminta input ulang --> Break
while True:
  umur = int(input("Masukkan umur: "))
  if umur >= 17:
    break

Masukkan umur: 14
Masukkan umur: 16
Masukkan umur: 18

In [23]:
#Program umur user yang diinput tidak boleh dibawah 17, kalo dibawah bakal diminta input ulang --> Continue
while True:
  umurSaya = int(input("Masukkan umur: "))
  if umurSaya == 17:
    continue
  elif umurSaya > 17:
    break
  print("Kamu berumur dibawah 17")

Masukkan umur: 14
Kamu berumur dibawah 17
Masukkan umur: 15
Kamu berumur dibawah 17
Masukkan umur: 17
Masukkan umur: 21

In [24]:
#For-else
for i in range(0, 20, 1):
  print(i)
  if i == 2:
    break
else:
  print("Breaknya ga jalan nih")

0
1
2

In [25]:
#Print value di dalam list
for i in listExample:
  print(i)

Leon
29
29.0
['samuel', 'Leon']
{}
()
True

In [26]:
#Print key di dalam dictionary
for i in dictExample:
  print(i)

dua belas
2.1
Dict
123
Boolean
halohalo

In [27]:
#Print setiap character dari string
for char in "Leon":
  print(char)

L
e
o
n

In [28]:
listSample = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

for nilai in listSample:
  if nilai == 0:
    listSample.remove(nilai)
listSample

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
for idx, nilai in enumerate(listSample):
  print("Index: {}, Value: {}".format(idx, nilai))

Index: 0, Value: 9
Index: 1, Value: 8
Index: 2, Value: 7
Index: 3, Value: 6
Index: 4, Value: 5
Index: 5, Value: 4
Index: 6, Value: 3
Index: 7, Value: 2
Index: 8, Value: 1

In [30]:
#Function
def biggestValue(a, b):
  if a > b:
    return a
  else:
    return b

print("Nilai terbesar", biggestValue(3, 17))

Nilai terbesar 17