<a href="https://colab.research.google.com/github/samleonnn/Software_Engineering_Samuel/blob/main/SE_Week2_Catatan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Contoh Variabel

a = 10  #Integer
b = 3.14 #Float

#String
c = 'L'
d = "Leon"
e = "Anak Ayam petok"

#Boolean
f = True
g = False

h = []  #List
i = [1, 2, 3] #List

j = {}  #Dictionary
k = ()  #Tuple

In [2]:
#Print
print(e)

Anak Ayam petok

In [3]:
print(2 + 4 * 2)

10

In [8]:
print("Hai namaku " + d)  #Concatination
print("Hai nama saya", d)

Hai namaku Leon
Hai nama saya Leon

In [9]:
print("Hai nama aku {}".format(d))

Hai nama aku Leon

In [10]:
nama = input()
print("Halo", nama)

Samuel
Halo Samuel

In [12]:
name = "Samuel"
age = 19
print("Kamu {} yang berumur {}".format(name, age))

Kamu Samuel yang berumur 19

In [13]:
aa = 10
bb = 10

#Conditional Statement
aa == bb #Nilai a sama dengan b
aa != bb  #Nilai a tidak sama dengan b
aa < bb
aa <= bb
aa > bb
aa >= bb
True and True
False or True

#Operator
aa + bb
aa - bb
aa * bb
aa / bb #Pembagian, hasilnya bisa float -> Float Division
aa //bb #Pembagian, hasilnya diibulatkan jadi integer -> Integer Division
aa ** bb  #Pangkat
aa % bb #Modulo, sisa pembagian

#Akar variabel aa
aa ** (1/2)
import math
math.sqrt(aa)

3.1622776601683795

In [14]:
if aa == 10:
  print("Nilai aa sama dengan 10")
elif aa > 10:
  print("Nilai aa lebih besar dari 10")
else:
  print("Nilai aa lebih kecil dari 10")
print("Ini diluar if")

Nilai aa sama dengan 10
Ini diluar if